// Define defaults for each variable.

// default colors

$background-color: white;
$header-color: #EFE2BA;
$text-accent: white;
$link-color: black;
$hover-color: #D79922;

// default spacing

$center: 0 auto;
$doc-width: 85%;

// default fonts

$body-text: 'Crimson Text', serif;

// Import partials.

@import
  "kmr/layout",
  "kmr/header",
  "kmr/base",
  "kmr/footer"
;
