// Define defaults for each variable.

// default colors

$background-color: white;
$header-color: #D7AA5F;
$text-accent: white;
$link-color: black;
$hover-color: #006400;
$person-color: rgba(255, 255, 255, 0.75);
//rgba(180, 219, 192, 0.75);
// default spacing

$center: 0 auto;
$doc-width: 85%;

// default fonts

$body-text: 'Crimson Text', serif;
$header-text: 'Noto Sans HK', sans-serif;

// Import partials.

@import
  "kmr/layout",
  "kmr/header",
  "kmr/base",
  "kmr/tree"
;
