---
layout: default
---
<div class="home-flex">
<div class="home-info">
<h1>About</h1>
<p>
I began this project to follow my grandmother's Swedish lineage as far back as I could. I was able to push into the 1600s, and I believe I will be able to fill out this particular tree as time goes on as Swedish records are continually being digitized. I could not have predicted that I would have uncovered so much, nor that her non-Swedish side would reveal itself to be so storied as there was little previously known of them. Her mother, Roberta Collins, can trace her roots to the founding of America. In fact, one of her direct ancestors includes the first President of Rhode Island. She does have more recent immigrant ancestors that follow the same pattern as the Swedish ancestors of her husband, Erick Landgren. Gottfried and Dora Juhnke immigrated in the mid to late 1800s from Poland.
</p>
<p>
As I have focused on tracing direct lines, I have provided very little information on siblings. If I find the time, I may start to fill out that information. However, I have provided sources for every piece of information listed, many of which list siblings/children as well as neighbors in the case of censuses and household examinations.
</p>
<p>
 Source code for this site can be found at: <a href="https://github.com/krogersst/landgren-collins">Github</a>.
</p>
</div>
<img class="home-image" src="{{ '/assets/images/akvarell.png' | relative_url}}"/>
</div>
