---
layout: default
---
<div class="home-flex">

<img class="home-image" src="{{ '/assets/images/sallerup_1924.png' | relative_url}}"/>

<div class="home-info">
  <div class="giant-header">A Family History</div>
  <h1>of the Collins and Landgren Families</h1>
  <h3>The history begins with the birth of Sylvia Landgren Haney, the daughter of Roberta Collins and Erick Landgren, and my grandmother. Start the journey back in time with her much beloved grandmother <a href="{{ '/landgren/person/emma-sandqvist/' | relative_url }}">Emma Olsson Sandqvist Landgren</a> who came over from Södra Sallerup parish in Sweden or jump back to her eighth great grandfather, the first president of Rhode Island, <a href="{{ '/collins/person/president-john-coggeshall' | relative_url }}">John Coggeshall</a>. Explore the interactive family trees or dive right into the <a href="{{ '/collins/lineage/' | relative_url }}">Collins Lineage Index</a>, and the <a href="{{ '/landgren/about/' | relative_url }}">Landgren Family</a>.</h3>
</div>

</div>
