/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, pre, hr,
dl, dd, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-text;
  background-color: $background-color;
}

.body-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.wrapper {
  width: 85%;
  margin-left: 130px;
}

a {

  color: $link-color;
  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $hover-color;
  }

}
