
.site-header, .site-footer {
  width: $doc-width;
  margin: 0 auto;
  padding: {
    top: 10px;
    bottom: 10px;
  }
  // background-color: $header-color;
  a, &:visited, &:hover {
    text-decoration: none;
  }
  font-size: 20px;
}

.site-header {
  margin-bottom: 20px;
}

.site-footer {
  margin-top: 20px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
