
.site-header {
  width: 100%;
  padding: {
    top: 10px;
    bottom: 10px;
  }
  background-color: $header-color;
}

.nav-header {
  width: $doc-width;
  margin: $center;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
