
.site-header, .site-footer {
  width: $doc-width;
  margin: 0 auto;
  padding-top: 8px;
  font-size: 20px;
  a, &:visited, &:hover {
    text-decoration: none;
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.site-header {
  margin-bottom: 20px;
  .nav-header {
    border-bottom: black 1px solid;
    padding-bottom: 8px;
    align-items: center;
  }
}

.title-main {
  font-size: 30px;
  color: $hover-color;
  line-height: .5;
  &:visited {
    color: $hover-color;
  }
}

.site-title p {
    margin-top: -4px;
    margin-left: 30px;
    font-size: 16px;
  }

.site-footer {
  margin-top: 20px;
  margin-bottom: 10px;
  .nav-header {
    border-top: black 1px solid;
    padding-top: 15px;
    align-items: flex-start;
  }
}

.nav-border {
  border-left: black 1px solid;
}

.nav-links {
  line-height: 1.1;
  display: flex;
  justify-content: space-between;
}

.nav-credit {
  font-size: 15px;
  padding-left: 15px;
}

.nav-right {
  img {
    max-height: 50px;
  }
}

.nav-button {
  text-align: center;
  padding: {
    left: 15px;
    right: 15px;
  }
}

.nav-drop {
  position: relative;
  display: inline-block;
  &:hover .drop-content {
    display: block;
  }
  border-left: black 1px solid;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  left: -1px;
  min-width: 200px;
  border-left: black 1px solid;
  a {
    color: black;
    padding: {
      top: 10px;
      left: 15px;
    }
    text-decoration: none;
    display: block;
    text-align: left;
  }
}
