.home-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  max-height: 600px;
}

.home-info {
  max-width: 900px;
  .giant-header {
    font-size: 100px;
    color: #006400;
  }
  h1 {
    margin-bottom: 40px;
    margin-top: -25px;
    text-align: right;
  }
}

/**
* Default
*/

.wrapper p {
  padding-bottom: 10px;
}

/**
* Person
*/

.person-page {
  margin-top: 20px;
}

.person-name {
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  color: $hover-color;
}

.person-flex {
  display: flex;
  justify-content: flex-start;
}

.person-info {
  width: 25%;
  margin-left: 15px;
  padding: 10px;
  border-left: 1px solid black;
  p {
    padding-bottom: 2px;
  }
}

.person-photo {
  max-width: 400px;
}

.person-content {
  width: 75%;
  padding: 10px;
  p {
    padding-bottom: 10px;
  }
  img {
    max-width: 600px;
  }
}

#references {
  margin-top: 10px;
  padding: 10px;
  background-color: $person-color;
}

.letter-ref {
  list-style: none;
  p {
    margin-top: 5px;
  }
}

/**
* Flat Index
*/

.index-content {
  p {
    margin-bottom: 10px;
  }
  padding-top: 10px;
  ul {
    list-style: none;
    margin-top: 0px;
    padding-left: 10px;
    }
  li {
    padding: 2px;
    font-size: 18px;
    ul {
      padding-left: 30px;
    }
  }
}
