.home-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 750px) {
    min-height: 400px;
    background: url("assets/images/frog_tree_light.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
  }
}

.home-image {
  @media (min-width: 751px) {max-height: 500px;}
  @media (max-width: 750px) {display: none;}
}

.about-image {
  height: 400px;
}

.about-info {
  h2 {
    font-size: 40px;
    color: $hover-color;
  }
  margin-left: 20px;
}

.home-info {
  @media(min-width: 1001px) {
    max-width: 600px;
    margin-left: 20px;
    .giant-header {font-size: 80px;}
    h1 {font-size: 30px;}
  }
  @media(max-width: 1000px) {
    max-width: 400px;
    margin-left: 10px;
    .giant-header {font-size: 55px;}
    h1 {font-size: 20px;}
  }
  @media(max-width: 750px) {
    max-width: 500px;
    .giant-header {font-size: 70px;}
    h1 {font-size: 25px;}
  }
  .giant-header {color: $hover-color;}
  h1 {
    margin-bottom: 5px;
    margin-top: -15px;
    text-align: right;
  }
  h3 {
    font-weight: normal;
    font-size: 17px;
    text-align: justify;
  }
}

/**
* Default
*/

.wrapper p {
  padding-bottom: 10px;
}

/**
* Person
*/

.person-page {
  margin-top: 20px;
}

.person-name {
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  color: $hover-color;
}

.person-flex {
  display: flex;
  justify-content: flex-start;
}

.person-info {
  width: 25%;
  margin-left: 15px;
  padding: 10px;
  border-left: 1px solid black;
  p {
    padding-bottom: 2px;
  }
}

.person-photo {
  max-width: 400px;
}

.person-content {
  width: 75%;
  padding: 10px;
  p {
    padding-bottom: 10px;
  }
  img {
    max-width: 600px;
  }
}

#references {
  margin-top: 10px;
  padding: 10px;
  background-color: $person-color;
}

.letter-ref {
  list-style: none;
  p {
    margin-top: 5px;
  }
}

/**
* Flat Index
*/

.index-content {
  p {
    margin-bottom: 10px;
  }
  padding-top: 10px;
  ul {
    list-style: none;
    margin-top: 0px;
    padding-left: 10px;
    }
  li {
    padding: 2px;
    font-size: 18px;
    ul {
      padding-left: 30px;
    }
  }
}
