.home-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  max-height: 600px;
}

.home-info {
  max-width: 800px;
  .giant-header {
    font-size: 100px;
    color: #006400;
  }
  h1 {
    margin-bottom: 40px;
    margin-top: -25px;
    text-align: right;
  }
}

/**
* Person
*/

.person-page {
  margin-top: 60px;
}

.person-name {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  top: 53px;
  color: #006400;
}

.person-flex {
  display: flex;
  justify-content: flex-start;
}

.person-info {
  width: 30%;
  margin-right: 10px;
  padding: 10px;
  border-right: black 2px solid;
}

.person-photo {
  max-width: 400px;
}

.person-content {
  width: 70%;
  padding: 10px;
  background-color: $person-color;
  p {
    margin-bottom: 10px;
  }
  img {
    max-width: 600px;
  }
}

#references {
  margin-top: 10px;
  padding: 10px;
  background-color: $person-color;
  p {
    margin-top: 10px;
    &:first-of-type {
      margin-top: 0px;
    }
  }
}

.letter-ref {
  list-style: none;
  p {
    margin-top: 5px;
  }
}

/**
* Flat Index
*/

.index-content {
  p {
    margin-bottom: 10px;
  }
  padding-top: 10px;
  ul {
    list-style: none;
    margin-top: 0px;
    padding-left: 10px;
    }
  li {
    padding: 2px;
    font-size: 18px;
    ul {
      padding-left: 30px;
    }
  }
}
