.instructions {
  font-family: $body-text;
  padding-bottom: 10px;
  padding-top: 10px;
}

#flex-tree {
  display: flex;
  width: 100%;
}

#large-tree {
  background: white;
  border: black 2px solid;
  padding: 5px;
}

#tree-info {
  min-width: 250px;
  margin-left: 10px;
  h2 {
  margin-top: 2px;
  }
  .legend-name {
    margin-top: 10px;
    font-family: $body-text;
  }
  .tree-button {
    font-family: $header-text;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    background-color: #B3DCB0;
    text-align: center;
    padding: 10px;
    max-width: 100px;
    &:hover {
      background-color: #89C984;
      color: $hover-color;
      cursor: pointer;
    }
  }
  p {
    padding-bottom: 2px;
  }
}


.d3-tip {
  line-height: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  font-family: $body-text;
  font-size: 14px;
  color: #fff;
  border-radius: 2px;
}

.d3-tip p {
  margin: 5px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.node {
  font: 16px $header-text;
}
